In [3]:
mensaje = "¡Hola, mundo!"
numero=42
pi= 3.14159
x = 2.2 # esto es una variable flotante
x = 2.2
y = 2
resultado = x * y 
print (resultado)

4.4

In [ ]:
pip install pandas

In [2]:
import pandas as pd
from IPython.display import display

data = {
    'Nombre': ['Alice', 'Bob', 'Charlie', 'David'],
    'Edad': [25, 30, 35, 28],
    'Ciudad': ['Nueva York', 'Londres', 'París', 'Berlín']
}

df = pd.DataFrame(data)

print("--- Usando print() ---")
print(df)

print("\n--- Usando display() ---")
display(df)

# Otro ejemplo con print vs display para un objeto de texto
print("\n--- print() de un string ---")
print("Hola mundo!")

print("\n--- display() de un string (similar a print para texto simple) ---")
display("Hola mundo!")
# Para strings simples, display se comporta de forma similar a print.
# La verdadera potencia de display se ve con objetos complejos.

# Mostrar múltiples outputs en una celda (solo funciona bien con display)
print("\n--- Múltiples outputs con print() ---")
print("Primer mensaje")
print(df)
print("Segundo mensaje")

print("\n--- Múltiples outputs con display() ---")
display("Primer mensaje")
display(df)
display("Segundo mensaje")

--- Usando print() ---
    Nombre  Edad      Ciudad
0    Alice    25  Nueva York
1      Bob    30     Londres
2  Charlie    35       París
3    David    28      Berlín

--- Usando display() ---

    Nombre  Edad      Ciudad
0    Alice    25  Nueva York
1      Bob    30     Londres
2  Charlie    35       París
3    David    28      Berlín

--- print() de un string ---
Hola mundo!

--- display() de un string (similar a print para texto simple) ---

'Hola mundo!'

--- Múltiples outputs con print() ---
Primer mensaje
    Nombre  Edad      Ciudad
0    Alice    25  Nueva York
1      Bob    30     Londres
2  Charlie    35       París
3    David    28      Berlín
Segundo mensaje

--- Múltiples outputs con display() ---

'Primer mensaje'

    Nombre  Edad      Ciudad
0    Alice    25  Nueva York
1      Bob    30     Londres
2  Charlie    35       París
3    David    28      Berlín

'Segundo mensaje'

In [18]:
mensaje1="ELLA DIJO: 'HOLA'"
mensaje2='ÉL RESPONDIÓ: "HASTA LUEGO"'

print(mensaje1)
print(mensaje2)

#print("Linea\")

ELLA DIJO: 'HOLA'
ÉL RESPONDIÓ: "HASTA LUEGO"

In [21]:
x=5;y=2

print("Suma:{x+y},División Entera:{x//y},Potencia:{x**y}")

Suma:{x+y},División Entera:{x//y},Potencia:{x**y}

In [22]:
x =5; y =2
print(f"Suma: {x+y}, División Entera: {x//y}, Potencia: {x**y}")

Suma: 7, División Entera: 2, Potencia: 25

In [23]:
x=5; y=2

print((x>y) and (y!=0))

True

In [27]:
print('Py' in 'Python')
print(10 in [1,2,3,10])

print('Java' not in 'Python')
print(5 not in [1,2,3,10])

True
True
True
True

In [29]:
#SECUENCIAS ORDENADAS Y MUTABLES

mi_lista=[1,"hola",3.14,True]

print(mi_lista[0])
print(mi_lista[-1]) #La indexación negativa va desde el final del arreglo/secuencia hasta el principio

lista_anidada=[1,[2,3],4]
print(lista_anidada[1][0]) # 2
print(lista_anidada[2]) # 3
print(lista_anidada[-1]) # 3

1
True
2
4
4

In [30]:
lista_anidada=[1,[2,3],4]
print(lista_anidada)

print(lista_anidada[0]) #1
print(lista_anidada[1]) #[2,3]
print(lista_anidada[2]) #4

print(lista_anidada[1][0]) #2

[1, [2, 3], 4]
1
[2, 3]
4
2

In [37]:
#EJEMPLOS DE SLICING

numeros=[0,1,2,3,4,5]

print(numeros[1:4])
print(numeros[:])
print(numeros[::2])
print(numeros[:3])
print(numeros[3:]) 
print("\n")

print(numeros[::-1])
print(numeros[-3:-1])

[1, 2, 3]
[0, 1, 2, 3, 4, 5]
[0, 2, 4]
[0, 1, 2]
[3, 4, 5]


[5, 4, 3, 2, 1, 0]
[3, 4]

In [49]:
mi_lista = [10, 1, 5]
mi_lista.append(20) #[10, 1, 5, 20]
mi_lista.sort()     #[1, 5, 10, 20]

elemento = mi_lista.pop(1) # elemento = 5, mi_lista = [1, 10, 20]
print(mi_lista)

[1, 10, 20]

In [58]:
#SHALLOW COPY pt.1

list_a = [1, 2]
list_b = list_a
list_b.append(3)
print(list_a) # Salida: [1, 2, 3] ¡ list_a también cambió !

[1, 2, 3]

In [63]:
#SHALLOW COPY pt.2
#Asignación vs copia
#Los elementos individuales si se siguen referenciando con los originales, los superficiales no

list_original=[1,2,[3,4]]
list_copia=list_original.copy()
list_copia.append(5)
list_copia[2].append(6) # ¡Si unelementoes mutable (como otra lista), modificarlo en la copia afecta al original.!

print(list_original)
print(list_copia)

list_copia[1]=7
print(list_original)
print(list_copia)

[1, 2, [3, 4, 6]]
[1, 2, [3, 4, 6], 5]
[1, 2, [3, 4, 6]]
[1, 7, [3, 4, 6], 5]

In [65]:
#COPIA PROFUNDA (DEEP COPY)
import copy

lista_original=[1,[2,3]]
copia_s=lista_original.copy()
copia_s[0]=99
copia_s[1].append(4)
print(lista_original)
print(copia_s)

[1, [2, 3, 4]]
[99, [2, 3, 4]]